.hometitle {
text-align: center;
margin-top: 8%
}

.container {
  display: flex;
 align-items: center; 
 grid-template-columns: 1fr 1fr 1fr;
 column-gap: 5px;
 padding-left: 10px;

}

.container2 {
  display: flex;
 align-items: center; 
 grid-template-columns: 1fr 1fr 1fr;
 column-gap: 5px;
 padding-left: 10px;

}
.boxtext {
  font-size: 20px;
  padding-left: 20px;
  background-color: #9c53f0;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  margin-top: 5%;
  ;
}

.boxtext2 {
  font-size: 20px;
  padding-right: 20px;
  background-color: #9c53f0;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  margin-top: 5%;
}

.streaminfotitle {
  align-items: center;
  text-align: center;
  margin-top: 10%;
}
.postertext {
  text-align: center;
  margin-top: 5%;
}

iframe {
  border-radius: 2%;
}

h1 {
  font-size: 60px;
  align-items: center;
}

h2 {
  font-size: 40px;
}

.one {
 width: 700px
}

.box {
  background-color: #9c53f0;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  margin-top: 5%;
}


.navbar {
    overflow: hidden;
    background-color: #b57df5fd;
    position: fixed;
    top: 0;
    width: 99%;
  }

  .navbar a {
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center
    display: block;
    color: #030007fd;
    text-align: center;
    padding: 24px 20px;
    text-decoration: none;
    font-size: 20px;
  }

  .navbar a:hover {
    background: #ddd;
    color: black;
  }
